{{ if isset .Params "categories" }}
    {{ range .Params.categories }}
        {{ if eq . "JavaScript"}}
        <a class="post-category cat-javascript" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
        {{ end }}
        {{ if eq . "Sistemas"}}
        <a class="post-category cat-sistemas" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
        {{ end }}
        {{ if eq . "C Sharp"}}
        <a class="post-category cat-csharp" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
        {{ end }}
        {{ if eq . "Base de datos"}}
        <a class="post-category cat-basedatos" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
        {{ end }}
        {{ if eq . "PHP"}}
        <a class="post-category cat-php" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}/">{{ . }} </a>
        {{ end }}
    {{ end }}
{{ end }}