<div class="aside-widget text-center">
    <a href="#" style="display: inline-block;margin: auto;">
        <img class="img-responsive" src="/ad-1.jpg" alt="">
    </a>
</div>

<div class="aside-widget">
    <div class="section-title">
        <h2>Categorías</h2>
    </div>
    <div class="category-widget">
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                {{ $term := urlize $name }}
                {{ if eq $term "javascript"}}
                <li><a class="cat-javascript" href="{{ "categories" | absURL }}/{{ $name | urlize }}">JavaScript<span>{{ $taxonomy.Count }}</span></a></li>
                {{ end }}
                {{ if eq $term "sistemas"}}
                <li><a class="cat-sistemas" href="{{ "categories" | absURL }}/{{ $name | urlize }}">Sistemas<span>{{ $taxonomy.Count }}</span></a></li>
                {{ end }}
                {{ if eq $term  "c-sharp"}}
                <li><a class="cat-csharp" href="{{ "categories" | absURL }}/{{ $name | urlize }}">C Sharp<span>{{ $taxonomy.Count }}</span></a></li>
                {{ end }}
                {{ if eq $term "base-de-datos"}}
                <li><a class="cat-basedatos" href="{{ "categories" | absURL }}/{{ $name | urlize }}">Base de datos<span>{{ $taxonomy.Count }}</span></a></li>
                {{ end }}
                {{ if eq $term "php"}}
                <li><a class="cat-php" href="{{ "categories" | absURL }}/{{ $name | urlize }}">PHP<span>{{ $taxonomy.Count }}</span></a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
</div>

<div class="aside-widget">
        <div class="section-title">
            <h2>Tags</h2>
        </div>
    <div class="tags-widget">
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <li>
                <a href="{{ "tags" | absURL }}/{{ $name | urlize }}">{{ $name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>