
{{ with .Site.Params.sidebarRecentLimit }}
{{ if not (eq . 0) }}
    <div class="section-row">
        <h3>Post Recientes</h3>
        {{ $pages := where $.Site.Pages "Type" "post" }}
        {{ range first . $pages }}
            {{ if .IsPage }}
                <div class="post post-widget">
                    <a class="post-img" href="{{ .RelPermalink }}"><img src="{{ .Params.image }}" alt=""></a>
                    <div class="post-body">
                        <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
{{ end }}
{{ end }}