{{ partial "single_head.html" . }}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        {{ .Scratch.Set "isHome" false }}
                        {{ $.Scratch.Set "pagetoc" .TableOfContents }}
                        {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
                        {{ $.Scratch.Get "pagetoc" }}
                        {{ end }}
                        {{ .Content }}
                    </div>
                    <div class="post-shares sticky-shares">
                        <a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>
                        <a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>

                <div class="section-row">
                    <!-- <div class="section-title">
                        <h2>{{ if .Site.DisqusShortname }} - <a href="{{ .Permalink }}#disqus_thread">Comentarios</a>{{ end }}</h2>
                    </div> -->
                    <div class="post-comments">
                        {{ partial "disqus.html" . }}
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                {{ partial "sidebar_single.html" . }}
            </div>
        </div>
    </div>
</div>



{{ partial "footer.html" . }}